*{
	margin: 0px;
	padding: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DCDCDC;
  font-family: 'Montserrat';
  padding: 10px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DCDCDC;
  font-family: 'Montserrat';
  padding: 10px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #DCDCDC;
  font-family: 'Montserrat';
  padding: 10px;
}

body{
	background: #363636;
	font-family: 'Montserrat', sans-serif;
}

.top{
	width: 100%;
	height: 60px;
	position: top;
	background:  linear-gradient(to bottom right, #7FFFD4, #EE82EE);
}

.top p {
	color: white;
	font-size: 40px;
	margin: 0px 0px 0px 10px; 
}
.top p i{
	color: white;
	font-size: 30px; 
}

#top{
	width: 100%;
	height: 55px;
	position: top;
	background:  linear-gradient(to bottom right, #7FFFD4, #EE82EE);
}

#top #contentTop{
	width: 90%;
	margin-left: 5%;
}

#navbar ul li{
	color: white;
	font-size: 30px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 49px;
	cursor: pointer;
}

#navbar ul li:hover{
	color: white;
	opacity: 0.9;
}

#mid{
	width: 100%;
	margin-top: 25px;
}	


#contentMid{
	width: 90%;
	margin-left: 5%;
	opacity: 1;
}

#message{
	border-radius: 10px;
	background:  linear-gradient(to bottom right, #7FFFD4, #EE82EE);
	color: white;
	padding: 10px 20px 10px 20px;
}

#topMessage{
	float: right;
	font-size: 18px;
	margin-top: -2px;
	margin-right: -10px;
	cursor: pointer;
}

#contentMessage p{
	font-size: 14px;
}

#publish{
	color: white;
	margin-top: 25px;
	width: 100%;
	border-radius: 10px;
	border: 2px solid grey;
}

#topPublish{
	width: 100%;
	border: : 2px solid grey 
}

#profile{
	padding: 5px 10px 5px 10px;

}

#photoProfile{
	width: 40px;
	border-radius: 50px;
	margin-top: 2px;
}

#profile #nameProfile{
	float: right;
	margin-top: 5px;
	margin-right:  70%;
}

#profile #horas{
	float: right;
	margin-right: 83.1%;
	margin-top: -25px;
	font-size: 9px;
}

#contentPublsih{
	width: 100%;
	border: : 2px solid grey;
}

#postContent{
	width: 100%;
}

#postContent textarea{
	font-family: "Montserrat";
	box-sizing: border-box;
	padding: 5px;
	color: white;
	width: 100%;
	height: 80px;
	resize: none;
	background: grey;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
}

#footPublish{
	width: 100%;
	margin-bottom: 3px
}

#footPublish #uploadImage{
	background: transparent;
	color: #87CEFA;
	font-size: 18px;
	padding: 5px 6.9px 5px 6.9px;
	cursor: pointer;
	border: 1px solid #87CEFA;
	border-radius: 70px;
	margin: 5px 10px 5px 10px
}

#footPublish #uploadPost{
	background: transparent;
	color: #87CEFA;
	font-size: 18px;
	padding: 6px 9px 5px 6.9px;
	cursor: pointer;
	float: right;
	border: 1px solid #87CEFA;
	border-radius: 70px;
	margin: 5px 10px 5px 10px
}